<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppCleanerNotch</string>
	<key>CFBundleIconFile</key>
	<string>StorageManager</string>
	<key>CFBundleIconName</key>
	<string>StorageManager</string>
	<key>CFBundleIdentifier</key>
	<string>app.getdroppy.droplet.appcleanernotch</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Storage Manager</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.5</string>
	<key>CFBundleVersion</key>
	<string>1.2.5</string>
	<key>DroppyDropletID</key>
	<string>appcleanernotch</string>
	<key>DroppyKitABI</key>
	<integer>1</integer>
	<key>DroppyKitMinAPI</key>
	<string>1.19.0</string>
	<key>DroppyMinAppVersion</key>
	<string>15.3.0</string>
	<key>DroppyPermissions</key>
	<array>
		<string>shelf-surface</string>
		<string>expanded-surface</string>
	</array>
	<key>NSPrincipalClass</key>
	<string>AppCleanerNotchPrincipal</string>
</dict>
</plist>
